<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>📚 Available Courses</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Instructor</th>
        </tr>

        {% for c in courses %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.course_name }}</td>
            <td>{{ c.instructor }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="links">
        <a href="/">⬅ Back</a>
    </div>
</div>

</body>
</html>